{% extends 'base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}
    Agregar Vehículos
{% endblock %}

{% block content %}
<div class="container m-5 pt-5">
    <div class="row">
        <h4>Agregar Vehículos</h4>
        <br>
        <br>
        <form class="row" action="" method="POST">
            {% csrf_token %}
            <div class="col-7">
                {{form.marca|as_crispy_field}}
            </div>
            <div class="col-7">
                {{form.modelo|as_crispy_field}}
            </div>
            <div class="col-7">
                {{form.categoria|as_crispy_field}}
            </div>
            <div class="col-7">
                {{form.serial_carroceria|as_crispy_field}}
            </div>

            <div class="col-7">
                {{form.serial_motor|as_crispy_field}}
            </div>
            
             <div class="col-7">
                {{form.precio|as_crispy_field}}
            </div>
            <div class="col-7 offset-3">
                <button type="submit" class="btn btn-secondary">Enviar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}