{% extends 'bootstrap.html' %}

{% load bootstrap5 %}

{% block bootstrap5_content %}
<div class="fixed-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Vehículos</a>
        <h6 class="navbar-brand active">{{user.first_name}}</h6>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/">Inicio</a>
                    </li>
                    {% if perms.vehiculo.add_vehiculo %}
                    <li class="nav-item">
                        <a class="nav-link" href="/vehiculo/add">Agregar</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/vehiculo/listar">Listar</a>
                    </li>
                {% endif %}
                    <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link active" href="{% url 'logout' %}">Salir</a>
                    {% else %}
                    <a class="nav-link active" href="{% url 'login' %}">Ingresar</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
{% block content %}

{% endblock %}

{% endblock %}