{% extends 'base.html' %}
{% block title %}
    Editar Libro 
{% endblock %}
{% block content %}
<form method="POST" action="edit">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Titulo</label>
        <input name="titulo" id="titulo" class="form-control" value="{{book.titulo}}">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Editorial</label>
        <input name="editorial" id="editorial" class="form-control" value="{{book.editorial}}">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Estado</label>
        <select name="state" id="id_state">
            {% for id, value in states %}
                <option value="{{id}}" {% if book.state == id %} selected="selected" {% endif %}>{{value}}</option>
            {% endfor %}
        </select>
    </div>
    {% for id, value in types %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="type" id="id_type{{forloop.counter0}}" {% if book.type == id %} checked {% endif %} value="{{id}}" >
        <label class="form-check-label" for="exampleRadios1">
            {{value}}
        </label>
    </div>
    {% endfor %}
    <br>
    <label for="form-check">Color Favorito</label>
    {% for id, value in preferencia %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="preferencia" id="id_preferencia{{forloop.counter0}}" {% if id in selected_colors %} checked {% endif %} value="{{id}}">
        <label class="form-check-label" for="flexCheckDefault">
          {{value}}
        </label>
      </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Update Book</button>
</form>
{% endblock %}
