{% extends 'base.html' %}
{% block title %}
    Agregar Libro 
{% endblock %}
{% block content %}
<form method="POST" action="new">
    {% csrf_token %}
    <div class="form-group">
        <label for="InputTitulo">Titulo</label>
        {{form.titulo}}
    </div>
    <div class="form-group">
        <label for="InputEditorial">Editorial</label>
        {{form.editorial}}
    </div>
    <div class="form-group">
        <label for="InputEstado">Estado</label>
        {{form.state}}
    </div>
    <div>
        <label for="InputTipo">Tipo</label>
        {{form.type}}
    </div>
    <div>
        <label for="InputColor">Color Favorito</label>
        {{form.preferencia}}
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
</form>
{% endblock %}